.card-deck {
  background: black;
}

.game-start {
  display: block;
  position: relative;
  height: 400px;
  width: 261px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 230px;
  font-family: 'Oswald', sans-serif;
  background: transparent;
  border-color: #df0808;
  background: black;
  border-style: solid;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 20px 2px #ff006a;
          box-shadow: 0px 0px 20px 2px #ff006a;
  color: transparent;
  text-shadow: 0px 0px 20px #df0808;
  -webkit-text-stroke: 3px #df0808;
}

.game-start:hover {
  text-shadow: 0px 0px 20px #070bda;
  -webkit-text-stroke: 3px #070bda;
  -webkit-box-shadow: 0px 0px 20px 2px #070bda;
          box-shadow: 0px 0px 20px 2px #070bda;
  border-color: #070bda;
  cursor: pointer;
}

.game-start:hover .smile-container {
  display: block;
}

.game-start:hover .frown-container {
  display: none;
}

.smile-container {
  display: none;
}

.wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: black;
}

.wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-card-1 {
  margin: 15px;
  height: 200px;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
  background: transparent;
  border-color: #070bda;
  background: black;
  border-style: solid;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 20px 2px #0ff;
          box-shadow: 0px 0px 20px 2px #0ff;
  color: transparent;
  text-shadow: 0px 0px 20px #070bda;
  -webkit-text-stroke: 0.1px #070bda;
}

.player-card-2 {
  margin: 15px;
  height: 200px;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
  background: transparent;
  border-color: #070bda;
  background: black;
  border-style: solid;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 20px 2px #0ff;
          box-shadow: 0px 0px 20px 2px #0ff;
  color: transparent;
  text-shadow: 0px 0px 20px #070bda;
  -webkit-text-stroke: 0.1px #070bda;
}

.player-cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 200px;
  left: 7px;
  top: 20px;
  width: 100%;
  height: 100%;
  padding: 0px;
  list-style-type: none;
}

.wrapper-2 {
  display: none;
}

.dealer-cards {
  display: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 15px;
  left: 7px;
  width: 100%;
  height: 100%;
  padding: 0px;
  list-style-type: none;
}

.dealer-cards li {
  margin: 15px;
  height: 200px;
  width: 130px;
}

.dealer-card-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
  background: transparent;
  border-color: #070bda;
  background: black;
  border-style: solid;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 20px 2px #0ff;
          box-shadow: 0px 0px 20px 2px #0ff;
  color: transparent;
  text-shadow: 0px 0px 20px #070bda;
  -webkit-text-stroke: 0.1px #070bda;
}

.dealer-card-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
  background: transparent;
  border-color: #070bda;
  background: black;
  border-style: solid;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 20px 2px #0ff;
          box-shadow: 0px 0px 20px 2px #0ff;
  color: transparent;
  text-shadow: 0px 0px 20px #070bda;
  -webkit-text-stroke: 0.1px #070bda;
}

.buttons-container {
  background: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.btn-stay {
  width: 100pxpx;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0;
  border: none;
  background: none;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  color: transparent;
  text-shadow: 0px 0px 30px rgba(245, 15, 15, 0.6);
  -webkit-text-stroke: 2px #f50f0f;
}

.btn-hit {
  width: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: none;
  background: none;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  color: transparent;
  text-shadow: 0px 0px 30px rgba(3, 206, 37, 0.6);
  -webkit-text-stroke: 2px #03ce25;
}

.btn-stay:hover {
  cursor: pointer;
  padding-left: 5px;
}

.btn-hit:hover {
  padding-left: 5px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */